- if !@current_team.present?
	.panel.panel-default
		%p No Data Available
- else
	.panel.panel-primary
		.panel-heading
			%p.page-title.text-uppercase.text-center= @current_team.name
		.panel-body
			.row
				.col-md-12
					= image_tag @current_team.avatar(:medium)
			%br
			.row
				.col-md-12
					.panel
						%p.text-center= @current_team.description
			.row
				.col-md-6
					%p.text-uppercase.text-center.red-title Coach
					- if @current_coach.present?
						.row
							.col-md-4
								= image_tag "coach.jpg", class: "media-object thumbnail"
							.col-md-8
								%h4.media-heading= @current_coach.name
									
								%p=@current_coach.description || "No Description"

				.col-md-6
					%p.text-uppercase.text-center.red-title Players
					.list-group
						.list-group-item 
							%table
								- @current_team.players.each do |player|
									%tr
										%td{style: "width: 20%; padding-right: 10px;"}= player.number
										%td= player.name
			

			.panel.panel-default
				.panel-heading
					%p.text-uppercase.text-center.red-title Match Results
				.panel-body
					- @current_team.team_matches.each do |match|
						= render "share/match", match:match
					
			/ .panel.panel-default
			/ 	.panel-heading
			/ 		%p.text-uppercase.text-center.red-title Photos
			/ 	.panel-body
			/ 		= render "share/gallery"