- if !@current_team.present?
	.panel.panel-default
		%p No Data Available
- else
	.panel.panel-primary
		.panel-heading
			%p.page-title.team-name.text-uppercase.text-center= @current_team.name
		.panel-body
			.row
				.col-md-12
					= image_tag @current_team.avatar.url, class: "thumbnail"
			%br
			.row
				.col-md-12
					.panel
						%p.text-center.team-description= @current_team.description
			.row
				.col-md-6
					%p.text-uppercase.text-center.red-title= t("team.coach")
					- if @current_coach.present?
						.row
							.col-md-4
								= image_tag @current_coach.avatar.url(:medium), class: "media-object thumbnail"
							.col-md-8
								%h4.media-heading.coach-name= @current_coach.name
									
								%p.team-description=@current_coach.description || "No Description"
					- else
						.well.text-info No Data Available for Coach

				.col-md-6
					%p.text-uppercase.text-center.red-title
						= t("team.players")
					- if @current_team.players.present?
						.list-group
							.list-group-item 
								%table
									- @current_team.players.each do |player|
										%tr
											%td.team-description{style: "width: 20%; padding-right: 10px;"}= player.number
											%td.team-description= player.name
					- else 
						.well.text-info No Data Available for Player

			.panel.panel-default
				.panel-heading
					%p.text-uppercase.text-center.red-title= t("team.matches")
				.panel-body
					- @current_team.team_matches.each do |match|
						= render "share/match", match:match
					
			.panel.panel-default
				.panel-heading
					%p.text-uppercase.text-center.red-title= t("team.team_gallery")
				.panel-body
					= render "share/gallery"