- if (defined?(match)).nil?
	%p "No match"
- else
	.match
		.row.match-header
			.col-md-2.text-left
				%p.region-name= match.team_left.region.name rescue "N/A"
			.col-md-2.text-left	
				- d = match.match_date
				-if d.present?
					%p.match-time= match_date_format(d)
			.col-md-4.text-center
				%p.text-khmer.date-style= "#{match.stage} "
			.col-md-4.text-right
				%p.region-name= match.team_right.region.name rescue "N/A"
		.row.match-body
			.col-md-4.text-left
				.team-name
					= link_to match.team_left.try(:name), team_path(match.team_left) rescue "N/A"
			.col-md-4.text-center
				%p.score= match.score.first
				- scores = match.score[1..(match.score.size-1)]
				
				- scores.each do |s|
					%kbd{style: "margin-right: 3px"}= s.gsub("\r\n","")
				%p.match-status.text-khmer
					- if match.is_completed?
						= t "match.complete_status" 
					- else
						= t "match.incomplete_status"
			.col-md-4.text-right
				.team-name
					= link_to match.team_right.try(:name), team_path(match.team_right) rescue "N/A"

	