.panel.panel-default
	.panel-heading.text-center.panel-header-text 
		%p.panel-header-text.text-danger.red-title= t("home.latest_result")
	.panel-body
		.text-center
			= render "share/fb_share", locals: {url: root_path}
		- date = nil
		- @matches.each do |match|
			- if (match.match_date.present?)
				- if date.blank? || (date.present? && date!= match.match_date.to_date)
					- date = match.match_date.to_date
					
					%br
					.row.group-date
						.col-md-12.text-center
							%p.group-date= match_date_format(date)
			= render "share/match", match: match
		.row
			.col-md-12.text-center{style: "color: white;"}
				%br
				= link_to t("home.see_all_result"), matches_path, class: "btn btn-success text-khmer"
				%span.glyphicon.glyphicon-chevron-right