.panel.voting#all_voting
	.panel-body.vote-result
		#question
			%p#question_text.text-center.text-khmer-bold= t "home.vote_question"
			%p#join_vote.text-center.text-khmer-bold= t "home.join_vote"
		- if !current_user.present?
			= render "voting_before_login"
		- elsif !@current_voted_teams.present?
			= render "voting_casting_vote"
		- else
			= render "voting_after_casting"
		.row
			.col-xs-3.col-xs-offset-9.text-right
				%h3
					%span.label.text-khmer= "#{t 'home.total_votes'} : #{@total_votes}"
		