- if !current_user.present? || !@current_voted_teams.present?
  #votePopup.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg{:role => "document"}
      .modal-content
        .modal-header
          %button.btn.btn-lg.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#myModalLabel.modal-title 
            .row#question_text.text-center.text-khmer-bold{style: "font-weight: bold;font-size: 22px;"}
              = "#{t 'home.vote_question'}" 
            .row.text-center{style: "font-size: 22px; font-weight:bold;"}
              ="#{t 'home.leocup'} ?"
            
        .modal-body{style: "padding-top: 0px;"}
          .row
            = image_tag "VOTE.jpeg"            
          .row
            %br
            %p#join_vote.text-center.text-khmer-bold{style: "font-size: 18px; font-weight:bold;"}
              = t "home.join_vote"
            %p#join_vote.text-center.text-khmer-bold{style: "font-size: 16px; font-weight:bold;"}
              = t "home.to_vote_before_login"
        .modal-footer
          %button.btn.btn-default.text-khmer-bold{style: "height: 60px; width: 100px;", "data-dismiss" => "modal", :type => "button"}= t 'home.close'
          - if !current_user
            %a{href: "/auth/facebook"}
              %button.btn.btn-primary.text-khmer-bold{style: "font-weight: bold; height: 60px; width: 150px;", :type => "button"} Vote Now
          - else
            %a{href: "#all_voting"}
              %button.btn.btn-primary.text-khmer-bold{style: "font-weight: bold; height: 60px;width: 180px;", "aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}= t 'home.vote_now'