%br
.row.alert.alert-info
	.col-xs-10
		%p.text-khmer{style: "margin-bottom: 0px;"}= "#{t('home.welcome')} #{current_user.name}, #{t('home.to_vote_casting_vote')}" 
- @winning_teams.size.times do |i|
	- teams = @winning_teams[i]
	.row
		- teams.each do |team|
			- vote = TeamVote.where(team_id: team.id).count
			.col-xs-3.text-center.vote-normal.vote_team_btn{id: "voteteam#{team.id}", style: "cursor:pointer"}
				.row.vote-score.text-khmer-bold.text-center
					= (vote*100/@total_votes).to_s+"%" rescue '0.0%'
				%br
				.row.text-center
					%p.text-khmer{style: "color:white;"}= team.name
%br
	.row
		.col-xs-4.col-xs-offset-4.text-center.text-khmer-bold
			= link_to t("home.vote"),"/", class: "btn btn-lg btn-primary",id: "save_vote_btn", style: "width: 150px; height: 60px; padding-top: 18px;"