%link{:href => "//blueimp.github.io/Gallery/css/blueimp-gallery.min.css", :rel => "stylesheet"}

= render "slider"
.container
	= render "latest_result"
	= render "voting"
	= render "gallery"
	= render "division"
	= render "division"