%br
.container.teams
	.panel.panel-primary
		.panel-heading
			%p.page-title.text-center.text-danger.text-uppercase តារាងប្រកួត & លទ្ធផល
		.panel-body
			.row
				.col-md-4
					%br			
					.dropdown.result-table
						%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
							%span#dropdownMenu1span
								- if @current_tournament.present?
									%p.dropdown-name= @current_tournament.name
								- else
									%p.text-uppercase Select Tournament
							%span.caret
						%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
							- Tournament.where(visible: true).each do |t|
								%li
									= link_to t.name, refresh_matches_path(id: t.id), remote: true, method: :get, data:{toggle: "dropdown"}, class: "dropdown-name"			
						%br

				#my_pool
					= render "pool"
		
			%br
			.panel.panel-default	
				#my_filter
					= render "display_filter"
			
			#my_matches
				= render "select_match"
					