%br
.container.teams
	.panel.panel-primary
		.panel-heading
			%p.page-title.text-center.text-danger.text-uppercase Schedule & Results
		.panel-body
			.row
				.col-md-4
					%p.text-uppercase <span class="label label-danger filter-title"> Tournament </span>
					.dropdown
						%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
							%span#dropdownMenu1span.qualifier
								- if @current_tournament.present?
									= @current_tournament.name.upcase
								- else
									%p.text-uppercase Select Tournament
							%span.caret
						%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
							- Tournament.all.each do |t|
								%li
									= link_to t.name.upcase, refresh_matches_path(id: t.id), remote: true, method: :get, data:{toggle: "dropdown"}, class: "qualifier"			
						%br

				#my_pool
					= render "pool"
		
			%br
			.panel.panel-default	
				%ul.nav.nav-pills.nav-justified
					%li{:role => "presentation"}
						= link_to "ALL MATCHES", select_matches_matches_path(id: @current_tournament.id), remote: true, method: :get
					%li{:role => "paresentation"}
						= link_to "COMPLETED MATCHES", select_matches_matches_path(id: @current_tournament.id, is_completed: true), remote: true, method: :get
					%li{:role => "presentation"}
						= link_to "UPCOMING MATCHES", select_matches_matches_path(id: @current_tournament.id, is_completed: false), remote: true, method: :get
			
			#my_matches
				= render "select_match"
					