%br
.container.teams
	.panel.panel-primary
		.panel-heading
			%p.page-title.text-center.text-danger.text-uppercase តារាងប្រកួត & លទ្ធផល
		.panel-body
			.row
				.col-md-4
					%br			
					.dropdown.result-table
						%button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
							%span#dropdownMenu1span
								- if @current_tournament.present?
									%p.dropdown-name= @current_tournament.name
								- else
									%p.text-uppercase Select Tournament
							%span.caret
						%ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
							- Tournament.all.each do |t|
								%li
									= link_to t.name, refresh_matches_path(id: t.id), remote: true, method: :get, data:{toggle: "dropdown"}, class: "dropdown-name"			
						%br

				#my_pool
					= render "pool"
		
			%br
			.panel.panel-default	
				%ul.nav.nav-pills.nav-justified.text-khmer-bold
					%li{:role => "presentation"}
						= link_to "ការប្រកួតទាំងអស់", select_matches_matches_path(id: @current_tournament.id), remote: true, method: :get
					%li{:role => "paresentation"}
						= link_to "ការប្រកួតដែលបានបពា្ចប់", select_matches_matches_path(id: @current_tournament.id, is_completed: true), remote: true, method: :get
					%li{:role => "presentation"}
						= link_to "ការប្រកួតដែលមិនទាន់ចាប់ផ្តើម", select_matches_matches_path(id: @current_tournament.id, is_completed: false), remote: true, method: :get
			
			#my_matches
				= render "select_match"
					