%br
.container.posts
	.row
		.col-md-8
			.panel.panel-primary
				.panel-heading
					%p.page-title.text-center= t("news.title")
				.panel-body
					- @posts.each do |post|
						%div{id: "post_#{post.id}"}
							%h2.post-title.text-danger= post.title
							%p.post-date
								%span.glyphicon.glyphicon-calendar
								= post.post_date_format + " ប្រភព: " + post.source
							%br
							%p.post-content= post.content
							- post.post_photos.each do |photo|
								= image_tag photo.photo.url(:medium)
							%hr.divider
		.col-md-4
			.panel.panel-primary
				.panel-heading
					%p.post-heading-title= t("news.articles")
				.panel-body
					- @posts.each do |post|
						%a{href: "#post_#{post.id}" }
							%p.post-side-title.text-danger= post.title
							%p.post-date
								%span.glyphicon.glyphicon-calendar
								= post.post_date_format
							%hr.divider
