.container{style: "margin-bottom: 0px !important; padding-bottom:0px !important;"}
  %nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        - if mobile_device?  
          .navbar-brand
            = link_to image_tag("logo_top.png", size: "50x60"), "/"
          .navbar-brand
            - if I18n.locale == :km
              = link_to image_tag("en_flag.png", size: "25x30"), locale: "en"
            - else
              = link_to image_tag("km_flag.png", size: "25x30"), locale: "km"
        
      #navbar.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 1px;"}
        %ul.nav.navbar-nav
          - if !mobile_device?
            %li#nav-home
              = link_to t("menu.home"), "/", class: "text-uppercase"
          %li#nav-team
            = link_to t("menu.teams"), teams_path, class: "text-uppercase"
          %li#nav-result
            = link_to t("menu.result"), matches_path, class: "text-uppercase"
          %li#nav-news
            = link_to t("menu.news"), posts_path, class: "text-uppercase"
        - if !mobile_device?  
          %ul.nav.navbar-right
            %li
              - if I18n.locale == :km
                = link_to image_tag("en_flag.png", size: "25x30"), locale: "en"
              - else
                = link_to image_tag("km_flag.png", size: "25x30"), locale: "km"
