.container{style: "margin-bottom: 0px !important; padding-bottom:0px !important;"}
  %nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        - if mobile_device?  
          = link_to image_tag("logo_top.png", size: "50x60"), "/", class: "navbar-brand"
      #navbar.navbar-collapse.collapse{"aria-expanded" => "false", :style => "height: 1px;"}
        %ul.nav.navbar-nav
          - if !mobile_device?
            %li#nav-home
              = link_to "ទំព័រដើម", "/", class: "text-uppercase"
          %li#nav-team
            = link_to "ក្រុមប្រកួត", teams_path, class: "text-uppercase"
          %li#nav-result
            = link_to "តារាងប្រកួត & លទ្ធផល", matches_path, class: "text-uppercase"
          %li#nav-news
            = link_to "ព័ត៌មាន", posts_path, class: "text-uppercase"
