!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Leocup'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Leocup'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller] 
    = csrf_meta_tags
    %script{:src => "//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"}
  %body  
    = render 'layouts/logo'
    = render 'layouts/messages'
    = render 'layouts/navigation'
    /%main{:role => "main"}
    .main-div
      = yield
      = render 'layouts/footer'
      - if mobile_device?
        :javascript
          $(".navbar").removeClass("navbar-static-top");
          $(".navbar").addClass("navbar-fixed-top");
