!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Leo Cup National Volleyball 2016'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Leocup'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag params[:controller] 
    = display_meta_tags site: 'Leocup Volleyball 2016'
    = csrf_meta_tags
    %script{:src => "//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"}
    = render 'layouts/google_analytic'
    = favicon_link_tag
  %body
    = render 'layouts/fb_share'
    = render 'layouts/google_analytic_pageview'
    = render 'layouts/messages'
    = render 'layouts/navigation'
    /%main{:role => "main"}
    .main-div
      = yield
      = render 'layouts/footer'
      .row
        .col-xs-4.col-xs-offset-8
          = image_tag "footer_logo.png", style: "width: 342px;"